<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
    <!--<h1>hello {{user|capitalize}}!</h1>  渲染-->

    <h1>{% if user %}   if判断
            你好，{{user}}!
        {% else %}
            hello,陌生人
        {% endif %}
    </h1>

    <!--<ul>-->
        <!--{% for x in user %}-->
            <!--<li>你好， {{x}}!!!</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->


</body>
</html>

<!--safe 渲染值时不转义-->
<!--capitalize 把值的首字母转换成大写，其他字母转换成小写-->
<!--lower 把值转换成小写形式-->
<!--upper 把值转换成大写形式-->
<!--title 把值中每个单词的首字母都转换成大写-->
<!--trim 把值的首尾空格去掉-->
<!--striptags 渲染之前把值中所有的 HTML 标签都删掉-->